body {
  font-family: 'Arial', sans-serif; /* Более современный шрифт */
  display: flex;
  justify-content: center;
  align-items: center; 
  min-height: 100vh; /* Занимает всю высоту экрана */
  background-color: #f4f4f4; /* Нейтральный фон */
  margin: 0; 
}

.calculator {
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Тень для объема */
  padding: 30px;
}

.calculator input[type="number"],
.calculator select {
  width: 100%; /* Занимают всю ширину контейнера */
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #292829;
  border-radius: 4px;
  box-sizing: border-box; /* Правильное отображение padding и border */
}

.calculator select {
  appearance: none; /* Убираем стандартный вид select */
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16"><path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/></svg>'); /* Добавляем стрелку */
  background-repeat: no-repeat;
  background-position: right 10px center;
  padding-right: 30px; 
}

.calculator button {
  background-color: #5cb85c; /* Зеленый цвет для кнопки */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#result {
  font-size:  24px; 
  margin-bottom: 15px; 
}

#resultFull {
  display: flex; 
  align-items: center;
}

#solution {
  width: 100%;  
  padding: 10px;
  margin-left: 10px; /* Отступ от "=" */
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; 
  text-align: right; /* Результат выравниваем по правому краю */
}